.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 800px;
  margin: 100px auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  height: 200px;
  background-color: #333;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #39813a;
  border: radius 5px;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url("../components/images/back.png");
  backface-visibility: hidden;
}

.beth {
  background-image: url("../components/images/beth.png");
}

.morty {
  background-image: url("../components/images/morty.png");
}

.rick {
  background-image: url("../components/images/rick.png");
}

.jessica {
  background-image: url("../components/images/jessica.png");
}

.scroopy {
  background-image: url("../components/images/scroopy.png");
}

.virar__carta {
  transform: rotateY(180deg);
}
